<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta Charset, viewpoint for mobile, and SEO tags-->
        <meta charset="UTF-8">
        <meta name="description" content="Peter Cykana - Some Nerd. Explore skills, projects, and contact information">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Peter Cykana | Profile, Skills, & Projects</title>

        <!--SEO: Open Graph for better social media sharing-->
        <meta property="og:title" content="Peter Cykana | Profile, Skills, & Projects">
        <meta property="og:description" content="Peter Cykana - Some Nerd. Explore skills, projects, and contact information">
        <meta property="og:image" content="">
        <meta property="og:type" content="website">

    <!-- link to external CSS -->
        <link rel="stylesheet" href="styles.css">
        <!-- links -->
        <a href="../components/home/home.html">Home</a>
        <a href="../components/skills/skills.html">Skills</a>
        <a href="../components/projects/projects.html">Projects</a>
        <a href="../components/charity/charity.html">Extra Life</a>
        <a href="../components/contact/contact.html">Contact</a>
    </head>
</html>