:root {
    --primary: red;
    --secondary: black;
    --radius: 8px;
    --shadow: 0 2px 8px rgba(0,0,0,0.10);
}

#charity {
    /* background-image: url(../../assets/images/fullkefka.png); will apply background later to try a parallax effect */
    background-size: 100%;
    background-attachment: scroll;
    background-color: red;
    background-repeat: no-repeat;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#htbsbanner img{
    max-height: 50px;
}

.main-title{
    background-color: var(--primary);
}

.sticky-header {
    background: red;
}

.mainTitle {
    background-color:red ;
}

footer {
    background-color: red;
}


.gallery {
    margin-left: max(1em, auto);
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1200px;
}

.gallery img {
    margin-inline-start: .5em;
    max-width: 80%vw;
    max-height: 400px;
}

.introductory_content {
    display: flex;
    flex-wrap: wrap;
}

#description {
    margin: auto;
    padding: 2rem;
}