<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity</title>
    <link rel="stylesheet" href="../../assets/global-styles/gstyle.css">
    <link rel="stylesheet" href="charity.css">
</head>
<body>
        <!--Main, Headder, nav-->
    <header class="sticky-header" role="banner">
        <!--Site Title with id and keyboard Focus-->
        <!-- <h1 class="mainTitle" tabindex="0">HTBS Extra Life Charity Streams</h1> -->
       <!-- <div id="htbsbanner">
        <img class="banner" src="../../assets/images/HTBScropped.png" alt="HTBS Banner">
        </div>-->
        <nav aria-label="Main Navigation">
            <ul class="nav-list">
                <li><a href="../home/home.html" class="nav-link">Home</a></li>
                <li><a href="../skills/skills.html" class="nav-link">Skills</a></li>
                <li><a href="../projects/projects.html" class="nav-link">Projects</a></li>
                <li><a href="../charity/charity.html" class="nav-link">Extra Life</a></li>
                <!--target="_blank" opens link in a new tab, rel="noopener" for security-->
                <li><a href="../contact/contact.html" class="nav-link" target="_blank" rel="noopener">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="charity">
<main>
    <div class="mainTitle">
    <h1>HTBS Extra life Live Streams</h1>
    </div>
    <div>
    <!-- <iframe 
        src="https://player.twitch.tv/?channel=htbsgames&parent=127.0.0.1:5500 
        frameborder="0" allowfullscreen="true" height="378" width="620">
        </iframe>
    
        twitch is apparently very strict about having a proper domain so im commenting this out for now and replacing it with an attempt to embed a friends video.
        -->   
        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/ZmXj0_LxMKI?si=a5oIorxlVrvkc1KE" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
    <div>
        <h2>Streaming with <a href="https://www.extra-life.org/teams/69348">Extra Life</a></h2>
        <p>Stuff and things about our charity streams</p>
    </div>    
    <div>
        <img src="../../assets/images/hospital_tour.JPG" alt="The HTBS gang touring the Hospital that we raise money for">
        <img src="../../assets/images/GAMING.JPG" alt="Serious charit gaming">
        <img src="../../assets/images/goofing.JPG" alt="Goofing on Sean">
        <img src="../../assets/images/dinner.JPG" alt="Pre covid family dinner">
        <img src="../../assets/images/covid.JPG" alt="Gaming separately during covid">
    </div>
</main>
    </div>
</body>
</html>