:root {
    --primary: black;
    --secondary: white;
    --bgcolor: red;
    --radius: 8px;
    --shadow: 0 2px 8px rgba(0,0,0,0.10);
}

*{
    color: var(--primary);
}
/* * {
  font-family: "electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

#charity {
    /* background-image: url(../../assets/images/fullkefka.png); will apply background later to try a parallax effect */
    background-size: 100%;
    background-attachment: scroll;
    background-color: var(--bgcolor);
    background-repeat: no-repeat;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--shadow);
}

#htbsbanner img{
    max-height: 50px;
}

.main-title, .other-title, .other-title a {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
  
}

.sticky-header {
    background: var(--bgcolor);
    box-shadow: var(--shadow);
}

.introductory-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.player {
    margin-left: 2.5vw;
    max-width: 95vw;
}

iframe {
    max-width: 100% !important;
    max-height: auto !important;
}

#extra-life-logo {
    max-width: min(95vw, 500px);
    margin: 0 auto;
}

#description {
    margin: 0 auto 2vw;
    max-width: min(95vw, 500px);
}


.gallery {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    max-width: 1300px;
}

.gallery img {
    margin-inline-start: .5em;
    margin-top: .5em;
    max-width: 95%vw;
    max-height: 400px;
}

footer {
    background-color: var(--bgcolor);
}

#copyright {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

.glitch {
    position: relative;
    z-index: 1;
    animation: glitch-animation 1.5s
    infinite alternate;
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
}


.glitch::before {
    color: #ff00ff;
    transform: translate( 0, -5px);
    z-index: -1;
}

.glitch::after {
    color: #00ffff;
    transform: translate( 0, -5px);
    z-index:  -1;
}

.glitch:focus::before, .glitch:hover::before {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite; 
		}
.glitch:focus::after, .glitch:hover::after {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
		}

        @keyframes glitch {
	0% {
		transform: translate(0, -5);
	}
	20% {
		transform: translate(-5px, 0px);
	}
	40% {
		transform: translate(-5px, -10px);
	}
	60% {
		transform: translate(5px, 0px);
	}
	80% {
		transform: translate(5px, -10px);
	}
	to {
		transform: translate(0, -5);
	}
}

