<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../assets/global-styles/gstyle.css">
    <div class=sitelinks>
        <a href="../home/home.html">Home</a>
        <a href="../skills/skills.html">Skills</a>
        <a href="../projects/projects.html">Projects</a>
        <a href="../charity/charity.html">Extra Life</a>
        <a href="../contact/contact.html">Contact</a>
    </div>
</head>
<body>
    <main>
        <section>
        <h1>Peter Cykana</h1>
        <div><img src="../../assets/images/me.JPG" alt="A picture of the man, the myth, the legend, Pete Cykana ">
        </div>
        </section>
        <section>
            <h2>About</h2>
        <div>
            <h2>Who is he?</h2>
            <p>"He's just some guy!" - Gag Halfrunt</p>
        </div>
        <div>
            <h2>What does he want?</h2>
            <h2>Why is he here?</h2>
            <h2>How can he help you?</h2>
        </div>
        </section>
    </main>
</body>
</html>