<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Libertinus+Keyboard&family=Oxanium:wght@200..800&family=Rubik+Glitch&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/global-styles/gstyle.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
          <!--Main, Headder, nav-->
    <header class="sticky-header" role="banner">
        <!--Site Title with id and keyboard Focus-->
        <h1 class="main-title" tabindex="0">WWW.PETE.COM</h1>
        <nav aria-label="Main Navigation">
            <ul class="nav-list">
                <li><a href="../home/home.html" class="nav-link">Home</a></li>
                <li><a href="../skills/skills.html" class="nav-link">Skills</a></li>
                <li><a href="../projects/projects.html" class="nav-link">Projects</a></li>
                <li><a href="../charity/charity.html" class="nav-link">Extra Life</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="top">
            <div id="portrait">
                <div id="meImg"><img src="../../assets/images/me.JPG" alt="A picture of the man, the myth, the legend, Pete Cykana "></div>
            </div>
        <section class="about">
                <div class="intro">
                <h1 class="main-title">This is Peter Cykana</h1>
                <p>Pete likes helping people and playing vidogames with his friends but, most of all, he loves San Dimas!<a class="fn-marker" href="#footnote1">*</a></p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p>
                </div>
        </div>
            <div id="who">
                <h2>Who is he?</h2>
                <p><q>He's just some guy</q> - Gag Halfrunt<a class="fn-marker" href="#footnote2"> **</a></p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p>
            </div>
            <div id="other-qna">
                <h2>What does he want?</h2>
                <p>Financial stability, and the free time to tinker and travel.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p>
                <h2>Why is he here?</h2>
                <p>Why is anyone here?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p>
                <h2>How can he help you?</h2>
                <p>I dunno what do you need?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p>
            </div>
        </section>
    </main>
    
</body>
<footer>
    <div class="footer-links">
    <a href="../../pages/index.html" class="nav-link">Index</a>
        <!--target="_blank" opens link in a new tab, rel="noopener" for security-->
    <a href="../contact/contact.html" class="nav-link" target="_blank" rel="noopener">Contact</a>
    </div>
    <p id="copyright">&copy; Peter Cykana 2025</p>

    <div class="footnote">
        <div id="footnote1">
            <p><br>* Peter has never been to San Dimas. He just enjoys a good Bill and Ted goof.</p>
        </div>
        <div id="footnote2">
        <p><br>** He also enjoys a good HHGttG<a class="dg-marker" href="#daggernote1">&dagger;</a> goof.</p>
        </div>
        <div id="daggernote1">
        <p><br>&dagger; Apparently this is now H2G2? ¯\_(ツ)_/¯</p>
        </div>
    </div>
</footer>
</html>