<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../assets/global-styles/gstyle.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
          <!--Main, Headder, nav-->
    <header class="sticky-header" role="banner">
        <!--Site Title with id and keyboard Focus-->
        <h1 class="mainTitle" tabindex="0">www.Pete.com</h1>
        <nav aria-label="Main Navigation">
            <ul class="nav-list">
                <li><a href="../home/home.html" class="nav-link">Home</a></li>
                <li><a href="../skills/skills.html" class="nav-link">Skills</a></li>
                <li><a href="../projects/projects.html" class="nav-link">Projects</a></li>
                <li><a href="../charity/charity.html" class="nav-link">Extra Life</a></li>
                <!--target="_blank" opens link in a new tab, rel="noopener" for security-->
                <li><a href="../contact/contact.html" class="nav-link" target="_blank" rel="noopener">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="portrait">
        <div id="meImg"><img src="../../assets/images/me.JPG" alt="A picture of the man, the myth, the legend, Pete Cykana "></div>
        </section>
        <section class="about">
            <div>
            <h1>This Is Peter Cykana</h1>
            <p>Pete likes Helping people and playing vidogames with his friends. But most of all he loves San Dimas</p>
            </div>
        <div id="who">
            <h2>Who is he?</h2>
            <p>"He's just some guy!" - Gag Halfrunt</p>
        </div>
        <div id="othe_qna">
            <h2>What does he want?</h2>
            <p>financial stability, and the free time to tinker and travel</p>
            <h2>Why is he here?</h2>
            <p>Why is anyone here?</p>
            <h2>How can he help you?</h2>
            <p>i dunno what do you need?</p>
        </div>
        </section>
    </main>
</body>
</html>