:root {
    --primary: slategray;
    --secondary: black;
    --radius: 8px;
    --shadow: 2 4px 10px rgba(0,0,0,0.10);
}

#skills {
    text-align: left;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: auto;
}

.skill {
    max-width: 80%;
    margin: 1em auto;
    justify-content: center;
    gap: 2em;
    
}

.skill-name {
    padding: 1em;
    outline: 3px ridge var(--primary);
    border-radius: var(--radius);
    background-color: var(--primary);
    box-shadow: 2px 4px 10px rgba(0,0,0,0.40);
}

.skill-projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skill-project {
    height: 90px;
    width: 90px;
    outline: 2px solid var(--secondary);
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.40)
}

.skill-project img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
}

.skill-project li {
    align-items: center;
}