<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Peter Cykana | Skills</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Libertinus+Keyboard&family=Oxanium:wght@200..800&family=Rubik+Glitch&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/global-styles/gstyle.css">
        <link rel="stylesheet" href="../../assets/global-styles/gstyle.css">
        <link rel="stylesheet" href="skills.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
                  <!--Main, Headder, nav-->
    <header class="sticky-header" role="banner">
        <!--Site Title with id and keyboard Focus-->
        <h1 class="main-title" tabindex="0">WWW.PETE.COM</h1>
        <nav aria-label="Main Navigation">
            <ul class="nav-list">
                <li><a href="../home/home.html" class="nav-link">Home</a></li>
                <li><a href="../skills/skills.html" class="nav-link">Skills</a></li>
                <li><a href="../projects/projects.html" class="nav-link">Projects</a></li>
                <li><a href="../charity/charity.html" class="nav-link">Extra Life</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="skills-list">
        <div class="main-title">
            <h1 id="skills">Skills</h1>
        </div>
        <div>    
                <ul>
                    <li class="skill">
                        <h2 class="skill-name">Python</h2>
                        <ul class="skill-projects">
                            <li class="skill-project">python</li>
                            <li class="skill-project">projects</li>
                            <li class="skill-project">go here</li>
                        </ul>
                    </li>
                    <li class="skill">
                        <h2 class="skill-name">JavaScript</h2>
                        <ul>
                            <div class="skill-projects">
                            <li class="skill-project"><a href="https://github.com/PCykana/SDV503-Assessment2"><img class="project-image" src="../../assets/images/tictactoethumb.png" alt="A Screenshot of a CLI based Tic Tac Toe program"></a></a></li>
                            <li class="skill-project">JavaScript projects go here</li>
                            <li class="skill-project"><a href="https://github.com/PCykana/SDV503-Assessment3-PeterCykana"><img class="project-image" src="../../assets/images/patientportalthumb.png" alt="A Screenshot of a CLI based patient portal program"></a></li>
                            </div>
                        </ul>
                    </li>
                    <li class="skill">
                        <h2 class="skill-name">HTML/CSS</h2>
                        <ul class="skill-projects">
                            <li class="skill-project"><a href="../../pages/index.html"><img src="../../assets/images/indexpage.png" alt="A thumbnail of the index page"></a></li>
                            <li class="skill-project"><a href="skills.html"><img src="../../assets/images/skillception2.png" alt="A thumbnail of this page"></a></li>
                            <li class="skill-project"><a href="../charity/charity.html"><img src="../../assets/images/charitypage.png" alt="A thumbnail of the charity page"></a></li>
                        </ul>
                    </li>
                    <li class="skill"><h2 class="skill-name">C language family</h2>
                        <ul class="skill-projects">
                            <li class="skill-project">C/C#/C++</li>
                            <li class="skill-project">projects</li>
                            <li class="skill-project">go here</li>
                        </ul>
                    </li>    
                    <li class="skill"><h2 class="skill-name">GML</h2>
                        <ul class="skill-projects">
                            <li class="skill-project">GML projects</li><li class="skill-project">
                                <a href="https://jackbounty.itch.io/organize"><img src="../../assets/images/Organize!thmb.png" alt="Organize!"></a>
                            </li><li class="skill-project">go here</li>
                        </ul>
                    </li>    
                </ul>
        </div>
        </section>
        </main>
    </body>
    <footer>
    <div class="footer-links">
    <a href="../../pages/index.html" class="nav-link">Index</a>
    <p id="copyright">&copy; Peter Cykana 2025</p>
        <!--target="_blank" opens link in a new tab, rel="noopener" for security-->
    <a href="../contact/contact.html" class="nav-link" target="_blank" rel="noopener">Contact</a>
    </div>
    </footer>

</html>