:root {
    --radius: 5px;
}

section {
    max-width: 80%;
    margin: 0 auto;
}

#skills {
    text-align: left;
    margin: 1em auto 0 2%;
}

.skill {
    margin: 1em auto;
    justify-content: center;
    gap: 2em;
    
}

.skill-name {
    padding: 1em;
    outline: 2px solid lightslategray;
    border-radius: var(--radius);
    background-color: lightslategray;
    box-shadow: var(--shadow);
}

.skill-projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skill-project {
    height: 90px;
    width: 90px;
    outline: 2px solid var(--secondary);
    border-radius: 5px;
    box-shadow: var(--shadow)
}

.skill-project img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
}

.skill-project li {
    align-items: center;
}