<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Skills</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <a href="../home/home.html">Home</a>
                    <a href="../skills/skills.html">Skills</a>
                    <a href="../projects/projects.html">Projects</a>
                    <a href="../charity/charity.html">Extra Life</a>
                    <a href="../contact/contact.html">Contact</a>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
        <h1>Skills Page</h1>
        <div>
            <h2>Pete's Skills</h2>
                <ul>
                    <li>Some python</li>
                    <li>Some Javascript</li>
                    <li>Some HTML</li>
                    <li>Some CSS</li>
                    <li>Some C/C++/C#</li>
                    <li>Some GML</li>
                </ul>
        </div>
    </body>
</html>