<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Asimovian&family=Audiowide&family=Bruno+Ace&family=Bruno+Ace+SC&family=Bungee+Hairline&family=Bytesized&family=Electrolize&family=Geo:ital@0;1&family=Goldman:wght@400;700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Iceberg&family=Iceland&family=Libertinus+Keyboard&family=Libre+Barcode+39&family=Michroma&family=Micro+5&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Rock+Salt&family=Rubik+Glitch&family=Silkscreen:wght@400;700&family=Tac+One&family=Tektur:wght@400..900&family=Tiny5&family=Unica+One&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/global-styles/gstyle.css">
    <link rel="stylesheet" href="../../assets/global-styles/gstyle.css">
</head>
<body>
    <header class="sticky-header" role="banner">
        <!--Site Title with id and keyboard Focus-->
        <h1 class="main-title" tabindex="0">HTBS Extra Life Charity Streams</h1>
        <nav aria-label="Main Navigation">
            <ul class="nav-list">
                <li><a href="../home/home.html" class="nav-link">Home</a></li>
                <li><a href="../skills/skills.html" class="nav-link">Skills</a></li>
                <li><a href="../projects/projects.html" class="nav-link">Projects</a></li>
                <li><a href="../charity/charity.html" class="nav-link">Extra Life</a></li>
                <!--target="_blank" opens link in a new tab, rel="noopener" for security-->
                <li><a href="../contact/contact.html" class="nav-link" target="_blank" rel="noopener">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <h1 class="main-title">Contact</h1>
    <div>
       <form action="contact_inquiry" method="post">
        <fieldset>
            <legend>Name</legend>
            <Label for="first_name">First Name (required):</Label>
            <input type="text" id="first_name" name="First Name" placeholder="John" aria-required="true" required size="20">
            <label for="last_name">Last Name (required):</label>
            <input type="text" id="last_name" name="Last Name" placeholder="Bigbote" aria-required="true" required size="20">
        </fieldset>
        <fieldset>
            <legend>Contact Details</legend>
            <Label for="email">email:</Label> 
            <input type="text" id="email" name="email" placeholder="JohnBigbote@8thdimension.com" size="40">
            <label for="phone">phone:</label>            
            <input type="text" id="phone" name="phone" placeholder="8675309" size="10">
        </fieldset>
        <fieldset>
            <legend>Request</legend>
            <label for="type">Type</label>
            <select name="type" id="type">
                <option value="programming">Programming</option>
                <option value="infrastructure">Infrastructure</option>
                <option value="database">Database</option>
                <option value="job_query">Job Query</option>
                <option value="advice">Advice</option>
                <option value="charity">Charity</option>
                <option value="other">Other</option>
            </select>
            <br>
            <label for="details">Details</label>
            <textarea name="details" id="details" cols="30" rows="10"></textarea>
        </fieldset>
       </form>
    </div>
    </main>
</body>
<footer>
    <a href="../../pages/index.html" class="nav-link">Index</a>
    <p id="copyright">&copy; Peter Cykana 2025</p>
</footer>
</html>