
/* monochrome green oldschool computer */
:root {
    --primary: lime;
    --secondary: var(--primary);
    --bgcolor: rgb(2, 62, 62);
    --sbgcolor: rgb(2, 62, 62);
    --outline: 2px solid var(--primary);
    --shadow: 0 0 8px 2px var(--primary);
    --bshadow: none;
    --fshadow: -1px 2px 8px 4px var(--secondary);
    --foutline: 2px solid var(--secondary);
    --mshadow: 0 3px 2px -2px  var(--primary);
    --sbutton: none;
    --sbuttonfc: var(--bgcolor);
}


/* oldschool computer 

:root {
    --primary: lime;
    --secondary: white;
    --bgcolor: rgb(2, 62, 62);
    --sbgcolor: var(--bgcolor);
    --outline: 2px solid var(--primary);
    --shadow: 0 0 8px 2px var(--primary);
    --bshadow: -1px 2px 8px 4px var(--primary);
    --fshadow: -1px 2px 8px 4px var(--secondary);
    --foutline: 2px solid var(--secondary);
    --mshadow: 0 3px 2px -2px  var(--primary);
    --sbutton: var(--primary);
    --sbuttonfc: var(--primary);
}
*/

/* bisexual lighting version 
:root {
    --primary: #f0f;
    --secondary: #0ff;
    --bgcolor: rgb(0, 17, 3);
    --sbgcolor: rgb(48, 0, 55);
    --outline: 2px solid var(--primary);
    --shadow: 0 0px 8px 2px rgb(255, 0, 255);
    --bshadow: -1px 2px 8px 4px rgb(255, 0, 255);
    --fshadow: -1px 2px 8px 4px rgb(0, 255, 255);
    --foutline: 2px rgb(0, 255, 255);
    --mshadow: 0 3px 2px -2px  rgb(255, 0, 255);
    --sbutton: #ff00fff0;
    --sbuttonfc: var(--primary);
} */

*{
    color: var(--secondary);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    /* <weight>: Use a value from 200 to 800 */
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}

body {
    background-color: var(--bgcolor);
    min-width: 300px;
    min-height: 200px;
    line-height: 1.6;
}
    
.sticky-header {
    position: sticky;
    top: 0px;
    background: var(--bgcolor);
    box-shadow: var(--shadow);
    z-index: 10;
    padding: 0px 0;
}

.main-title {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
 
}

.other-title {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-weight: bold;
}

.nav-list{
    max-width: 700px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content:space-around;
    gap: 2em;
    margin-top: 1em;
}

.nav-link {
    align-content: space-around;
    color: var(--primary);
    font-weight: bold;
    padding: 0.25em 0.75em;
    border-radius: 4px;
    transition: background 0.2s;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--secondary);
    outline: var(--foutline);
    box-shadow: var(--fshadow);
}

.external-link:focus,
.external-link:hover {
    color: #fff;
} 

img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3 {
        font-weight:600;
    margin-bottom: 0.7em;
}
footer {
    background-color: var(--bgcolor);
    padding: .2em;
}

li  {
    list-style: none;
}

a {
    text-decoration: none;
}

#copyright {
    text-indent: 0;
    margin: 0;
    text-align: center;
    padding: 0;
}

p {
    text-indent: 2em;
    text-align:justify;
    padding: 1em;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.other-title a {
        font-weight:600;
}

.footer-links {
    margin: 1em;
}
