:root {
    --hilight: yellow;
    --secondary: black;
    --cardbox: #4c2512;
    --radius: 8px;
    --shadow: 0 2px 8px rgba(0,0,0,0.10);
}
body{
    line-height: 2;
}

#index-card {
    background-color: linen;
    min-width: calc(100px + 10%);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 2px 4px rgba(0,0,0,0.40);
    z-index: 1;
    display: none;
    transform: display 1s;
}

#index-card:target {
    display: block;
}

/* leftovers from trying and failing to make a cover division that would receed on click.
#index-cover{
    min-width: calc(100px + 10%);
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 2px 4px rgba(0,0,0,0.40);
    z-index: 2;
}

#index-cover:hover, index-cover:focus{
    transform: scaleY(0);
} */


#index-list {
    list-style: none;
}

li {
    text-align: center;
    text-decoration: none;
}

/* crude highlight effect for index card 
li:focus,
li:hover {
    transform: skew(-15deg, -15deg);
} 
.nav-link:focus,
.nav-link:hover {
    background: var(--primary);
    color: dimgray;
    outline: none;
}    
*/

/* attempt at circling the link */

.nav-link{
        transition: outline 0.3s;
}

.nav-link:focus,
.nav-link:hover {
    background: linen;
    color: var(--secondary);
    border-radius: 50%;
    outline-color: darkblue;
}

#index-title {
    background-color: linen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0;
    box-shadow: 2px 4px rgba(0,0,0,.40);
}

#index-title a {
    color: var(--secondary);
}

.index-box {
    background-image: url(../assets/images/cherry-wood-background.jpg);
    background-color: var(--cardbox);
    border-radius: 20px;
    max-width: 500px;
    min-width: 100px;
    margin-top: 0;
    padding-bottom: 50px;
    padding-top: 4px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 4px 10px rgba(0,0,0,.40);
}

.other-title {
    background-image: linear-gradient(45deg, darkgoldenrod, rgb(245, 185, 34), darkgoldenrod);
    margin-top: 4px;
    max-width: 250px;
    outline: 2px solid rgb(159, 117, 9);
}