
:root {
    --radius: 20px;

}
section {
    max-width: 80%;
    margin: 0 auto;
}

.project{
    color: var(--primary);
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    border-radius: var(--radius);
    outline: var(--outline);
    box-shadow: var(--bshadow);
    margin-bottom: 1em;
    background-color: var(--background);
 
}

#projects {
    text-align: left;
    margin: 1em auto 0 2%;
}

.project-info {
    display: flex;
    margin: 2em auto 0;
    background-color: var(--sbgcolor);
    border-radius: var(--radius) var(--radius) 0px 0px;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    border-bottom: var(--outline);

}
.project p{
    min-height: 57px;
}

.project-image, .other-title {
    margin: auto;
}

.project:hover, .project:focus {
    color:var(--secondary);
    outline: 2px solid var(--secondary);
    box-shadow: var(--fshadow);
}
