<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Libertinus+Keyboard&family=Oxanium:wght@200..800&family=Rubik+Glitch&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/global-styles/gstyle.css">
    <link rel="stylesheet" href="projects.css">
</head>
<body>
    <header class="sticky-header" role="banner">
        <!--Site Title with id and keyboard Focus-->
        <h1 class="main-title" tabindex="0">WWW.PETE.COM</h1>
        <nav aria-label="Main Navigation">
            <ul class="nav-list">
                <li><a href="../home/home.html" class="nav-link">Home</a></li>
                <li><a href="../skills/skills.html" class="nav-link">Skills</a></li>
                <li><a href="../projects/projects.html" class="nav-link">Projects</a></li>
                <li><a href="../charity/charity.html" class="nav-link">Extra Life</a></li>
                <!--target="_blank" opens link in a new tab, rel="noopener" for security-->
                <li><a href="../contact/contact.html" class="nav-link" target="_blank" rel="noopener">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="main-title" id="projects">Projects</h1>
        <section id="projects-list">
            <ul>
                <li class="project">
                    <div class="project-info">
                    <a href="https://jackbounty.itch.io/organize"><img class="project-image" src="../../assets/images/Organize!thmb.png" alt="A screenshot from the 2016 #resist game jam game Organize!"></a>
                    <h2 class="other-title"><a href="https://jackbounty.itch.io/organize">Organize!</a></h2>
                    </div>
                    <p>A small game made in Game Maker 2 for the #resist game jame in 2016</p>
                    
                </li>
                <li class="project">
                    <div class="project-info">
                    <a href="https://github.com/PCykana/SDV503-Assessment2"><img class="project-image" src="../../assets/images/tictactoethumb.png" alt="A Screenshot of a CLI based Tic Tac Toe program"></a>
                    <h2 class="other-title"><a href="https://github.com/PCykana/SDV503-Assessment2">Tic Tac Toe</a></h2>
                    </div>
                    <p>A Tic Tac Toe game made as part of my programming intro class. Made in JavaScript.</p>
                    
                </li>
                <li class="project">
                    <div class="project-info">
                    <a href="https://github.com/PCykana/SDV503-Assessment3-PeterCykana"><img class="project-image" src="../../assets/images/patientportalthumb.png" alt="A Screenshot of a CLI based patient portal program"></a>
                    <h2 class="other-title"><a href="https://github.com/PCykana/SDV503-Assessment3-PeterCykana">Patient Portal Project</a></h2>
                    </div>
                    <p>A CLI patient portal program made as part of my programming intro class. Made in JavaScript.</p>
                    
                </li>
            </ul>
        </section>
    </main>
</body>
<footer>
    <a href="../../pages/index.html" class="nav-link">Index</a>
    <p id="copyright">&copy; Peter Cykana 2025</p>
</footer>
</html>