<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
   <a href="../components/home/home.html">Home</a>
                    <a href="../components/skills/skills.html">Skills</a>
                    <a href="../components/projects/projects.html">Projects</a>
                    <a href="../components/charity/charity.html">Extra Life</a>
                    <a href="../components/contact/contact.html">Contact</a>
</head>
<body>
    <h1>Projects</h1>
    <div>
        <ul>
        <li>
            <img src="../../assets/images/Organize!thmb.png" alt="A screenshot from the 2016 #resist game jam game Organize!">
            <h2><a href="https://jackbounty.itch.io/organize">Organize!</a></h2>
            <p>A small game made in Game Maker 2 for the #resist game jame in 2016</p>
            
        </li>
        <li>
            <img src="../../assets/images/" alt="A Screenshot of a CLI based Tick Tack Toe program">
            <h2><a href="https://github.com/PCykana/SDV503-Assessment2">Tick Tack Toe</a></h2>
            <p>A Tick Tack Toe game made as part of my programming intro class. Made in JavaScript.</p>
        </li>
        <li>
            <img src="../../assets/images/" alt="A Screenshot of a CLI based patient portal program">
            <h2><a href="https://github.com/PCykana/SDV503-Assessment3-PeterCykana">Patient Portal Project</a></h2>
            <p>A CLI patient portal program made as part of my programming intro class. Made in JavaScript.</p>
        </li>
        </ul>
    </div>
</body>
</html>